<!-- <h1>Basic Demo</h1>
<app-basic></app-basic> -->

<!-- <h1>Routing Demo</h1> -->
<!-- <a [routerLink]="['./student']">Student</a>----
<a [routerLink]="['./parentdetails']">Parent details</a><br/>
 <button (click)="student()">show student</button>
<div>
  <router-outlet></router-outlet>
</div>  -->

  <!-- <h1>Service Demo</h1>
<p>{{message}}</p>
<table border="1">
  <tr>
    <th>EmpCode</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let emp of employeeInfo">
    <td>{{emp.empcode}}</td>
    <td>{{emp.name}}</td>
  </tr>
</table>-->

  <!-- <h3 class="container">Angular Forms Demo</h3> -->
  <!-- <app-studentregistration></app-studentregistration> -->

